<%= form_for(organisation) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
    <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>

  <div class="form-group">
    <select multiple class="form-control">
      <% for dance in Dance.all %>
        <option>
          <%= dance.name %>
        </option>
      <% end %>
    </select>
  </div>

  <p>
    <%= f.submit %>
  </p>
<% end %>