<%= form_for(organisation) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>

  <div class="form-group">
    <%= f.label :locations %><br>
    <%= f.select :location_ids, Location.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
  </div>

  <p>
    <%= f.submit %>
  </p>
<% end %>