<h1>Hello, world!</h1>

<h2>Regular weekly classes</h2>

<ul>
  <% @events.classes_by_day.each do |day, classes| %>
    <li>
      <h3><%= day.capitalize %></h3>
      <ul>
        <% classes.each do |c| %>
          <li>
            <h4><%= c.name %></h4>
            <p>Run by: <a href="<%= c.organisation.url %>"><%= c.organisation.name %><a/></p>
            <p>Venue: <%= c.location.name %></p>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
