<%= form_for event, url: url do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <div class="form-group">
    <%= f.label :locations %><br>
    <%= f.select :location_id, event.organisation.locations.collect {|x| [x.name, x.id]}, {} %>
  </div>

  <%= f.fields_for :weekly_recurrence do |r| %>
    <h2>Weekly recurrence</h2>
    <p>
      <%= r.label :day_of_week %>
      <%= r.text_field :day_of_week %>
    </p>
  <% end %>

  <p>
    <%= f.submit %>
  </p>
<% end %>