<%= form_for event, url: url do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
    <p>
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>